<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b87dc0c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css" >
    <title>Document</title>
</head>
<body>
<header class="main-header">
<div class="main-header-1">
<img class="logo" src="/images/logo-mercado-liebre.svg">    
<h2 class="header-tittle"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
<a class="menu-botton"><i class="fa-solid fa-bars"></i></a>
</div>

<nav class="main-navbar">
    <ul class="left-navbar">
    <a href=""><li>Ofertas</li></a>
    <a href=""><li>Tiendas Oficiales</li></a>
    <a href=""><li>Vender</li></a>
    <a href=""> <li>Ayuda</li></a>
</ul>

<ul class="right-navbar">
    <a href=""><li>Creá tu cuenta</li></a>
    <a href=""><li>Ingresá</li></a>
    <a href=""><li>Mis compras</li></a>
</ul></nav>
</header>

<main></main>
<div class="sections">
    <h1 class ="container"><strong>Basado en tu última visita</strong></h1>
        <img class="images" src="/images/img-cafetera-moulinex.jpg">
        <p class="price">$6.770</p>
        <p class="discount" >40% OFF</p>
        <p class="description"><strong>Cafetera Moulinex</strong></p>

        <img class="images" src="/images/img-macbook-pro-2019.jpg">
        <p class="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <p class="description"><strong>MacBook Pro 2019</strong></p>

        <img class="images" src="/images/img-samsung-galaxy-s10.jpg">
        <p class="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <p><strong>Samsung Galaxy S10</strong></p>

        <img class="images" src="/images/img-tv-samsung-smart.jpg">
        <p class="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <p class="description"><strong>SmartTv Samsung 43"</strong></p>

</div>


<div class="sections">
    <h1 class="container"><strong>Sección de Ofertas</strong></h1>
        <img class="images" src="/images/img-cafetera-moulinex.jpg">
        <p class="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <p class="description"><strong>Cafetera Moulinex</strong></p>

        <img class="images"  src="/images/img-macbook-pro-2019.jpg">
        <p class="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <p class="description"><strong>MacBook Pro 2019</strong></p>

        <img class="images" src="/images/img-samsung-galaxy-s10.jpg">
        <p class="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <pclass="description"><strong>Samsung Galaxy S10</strong></p>

        <img class="images" src="/images/img-tv-samsung-smart.jpg">
        <p class="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <p class="description"><strong>SmartTv Samsung 43"</strong></p>
</div>

<footer>
    <div class="sections">
    <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>
            <p class="body-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    
    <h2><strong>Envío gratis desde $ 2.500</strong></h2>
        <p class="body-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

    <h2><strong>Seguridad, de principio a fin</strong></h2>
        <p class="body-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p class="body-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
</section>
</footer>
</body>
</html>






